.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# LocalStack Persistent Data & Outputs
volume/
outputs/*
!outputs/.gitkeep

# Inputs (Optional: Agar test images commit nahi karni)
inputs/*
!inputs/.gitkeep

# Python & Build Packages
__pycache__/
*.pyc
*.zip
*.json